.container-show{
  background-color: $gray ;
  height: 100vh;
  padding-top: 40px;
}

.photo-section {
  display: flex;
  background-color: $green;
  border-radius: 10px;
  height: 40vh;
}

.main-img {
  height: 100%;
  width: 40%;
  margin-right: 4px;
  padding: 8px 0 8px 8px;
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.secondary-photo-section-wrapper {
  width: 70%;
}

.secondary-photo-list {
  justify-content: space-between;
  align-content: center;
  display: flex;
  height: 50%;
  width: 100%;
  padding-right: 8px;
  padding-bottom: 4px;
}

.small-photo {
  object-fit: cover;
  height: 100%;
  width: 33%;
  padding-top: 8px;
}

.secondary-long-photo {
  width: 100%;
  height: 50%;
  padding-right: 8px;
  padding-bottom: 8px;
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.info-booking{
  display: flex;
  height: 20vh;
  margin-top: 16px;
  justify-content: space-between;
  h2 {
    padding: 8px;
  }
  h4 {
    padding: 4px;
  }
}

.venue-info {
  height: 100%;
  width: 48%;
  border-radius: 10px;
  background-color: $green;
}

.venue-info-header-info {
  display: flex;
  padding: 8px;
  justify-content: space-between;
}

.booking {
  height: 100%;
  width: 48%;
  border-radius: 10px;
  background-color: $green;
  padding: 8px;
  font-size: 50px;
  font-weight: bold;
  a:hover {
    color: lightgray;
  }
}

.header-and-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
}
