<div class="container">
  <div class="cards">
        <%@venues.each do |venue| %>
          <div class="card-trip">
             <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
            <div class="card-trip-infos">
              <div class= "card-text">
              <h2><%= venue.title %></h2> 
              <p><%= venue.location %> <%= venue.capacity %></p>
              </div>
            <h2 class="card-trip-pricing">£<%= venue.price %></h2>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
            </div>
          </div>
        <% end %>
    </div>
</div>

