.button_blue_outline {
  border: 4px solid #4A56FF;
  padding: 5px 40px;
  border-radius: 5px;
  color:#4A56FF;
  font-weight: bold;


  &:hover{
background-color: #4A56FF;
color:white;
  cursor: pointer;
  }
}


a {
  text-decoration: none!important;
}
