.button_blue_outline {
  border: 4px solid $white;
  padding: 5px 40px;
  border-radius: 5px;
  color:black;
  font-weight: bold;
  background: $white;
  &:hover{
    color: $white;
    background-color: transparent;
    cursor: pointer;
  }
}


a {
  text-decoration: none!important;
}
