
.flex-container {
display: flex;
}

.card-container {
  width: 60%;
}

.map-container {
    width: 40%;
      position: sticky;
}

h2 {
  color: $white;
  text-shadow: 0 0 15px rgba($red, 1);

}


.card-element   {
  // background: $green;
  background: rgba($white, 1);
  height: 180px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 3px;
  overflow: hidden;
  color: black;
  display: block;
  transition: 0.2s all;
  &:hover {
      box-shadow: 0 0 10px rgba($red, 1);
      background: $red;

    p, h3, a {
      color: $white;
    }
  }
  h3:hover {
    color: $white !important;
  }
}

.price-tag {
  font-size: 18px !important;
}

.card-img {
  width: 50%;
  object-fit: cover;

}

.card-element h3 {
  font-size: 1.25rem;
}

.card-element p {
  font-size: 14px;
  margin: 2px;
  color: gray;
}
