.flex-container {
display: flex;
}

.card-container {
  flex-grow: 2;
}

.map-container {
  flex-grow: 1;
  position: sticky;
}



.card-element   {
  // background: $green;
  background: rgba($green, 0.2);
  height: 180px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  overflow: hidden;
  color: black;
  display: block;
  &:hover {
    background: rgba($green, 0.6);

  }
}

.card-img {
  width: 50%;
  object-fit: cover;
  border-left: 4px lightgray solid;
  &:hover {
  border-left: 4px rgb(184, 184, 184) solid;

  }
}

.card-element h3 {
  font-size: 1.25rem;
}

.card-element p {
  font-size: 12px;
  margin: 2px;
  color: gray;
}
