.navbar-lewagon {
  justify-content: space-between;
  background: $red;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar a {
  font-size: 18px;
  color: $black;
   font-weight: bold;
  &:hover {
    color: $green;
  }
  .avatar {
    margin-left: 24px;
  }
}

.navbar .button_blue_outline {
  margin-left: 24px;
  background-color: $white;
  font-size: 24px;
  color: $black;
  border: 4px solid $black;
  &:hover {
    color: $black;
    background-color: $green;
  }
}

.dropdown-menu{
  background-color: $green;
  border-radius: 10px;
 a {
   font-weight: lighter;
 }
}

.nav-link-login {
  font-family: $body-font;
  font-weight: bold;
}
